name: build games
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1"
  push:
    branches:
      - master
    paths:
      - games/**
jobs:
  pushArm:
    name: "yolks:gamesarmd_${{ matrix.tag }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag:
          - arma3
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2
        with:
          buildkitd-flags: --debug
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64,amd64
      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.REPOSITORY_OWNER }}
          password: ${{ secrets.REGISTRY_TOKEN }}
      - uses: docker/build-push-action@v4
        with:
          context: ./games/${{ matrix.tag }}
          file: ./games/${{ matrix.tag }}/Dockerfile
          platforms: linux/arm64
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new
          push: true
          tags: |
             quintenqvd/pterodactyl_images:games_${{ matrix.tag }}
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  pushAll:
    name: "yolks:games_${{ matrix.tag }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag:
          - minetest
    steps:
      - uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v
        with:
          platforms: arm64,amd64
      - uses: docker/setup-buildx-action@v2
        with:
          buildkitd-flags: --debug
      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.REPOSITORY_OWNER }}
          password: ${{ secrets.REGISTRY_TOKEN }}
      - uses: docker/build-push-action@v4
        with:
          context: ./games/${{ matrix.tag }}
          file: ./games/${{ matrix.tag }}/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            quintenqvd/pterodactyl_images:games_${{ matrix.tag }}

  # pushAMD:
  #    name: "yolks:games_AMD_${{ matrix.tag }}"
  #    runs-on: ubuntu-latest
  #    strategy:
  #      fail-fast: false
  #      matrix:
  #        tag:        
  #    steps:
  #      - uses: actions/checkout@v3
  #      - name: Set up QEMU
  #        uses: docker/setup-qemu-action@v2
  #        with:
  #          platforms: arm64,amd64
  #      - uses: docker/setup-buildx-action@v2
  #        with:
  #          buildkitd-flags: --debug
  #      - uses: docker/login-action@v2
  #        with:
  #          username: ${{ secrets.REPOSITORY_OWNER }}
  #          password: ${{ secrets.REGISTRY_TOKEN }}
  #      - uses: docker/build-push-action@v4
  #        with:
  #          context: ./games/${{ matrix.tag }}
  #          file: ./games/${{ matrix.tag }}/Dockerfile
  #          platforms: linux/amd64
  #          push: true
  #          tags: |
  #            quintenqvd/pterodactyl_images:games_${{ matrix.tag }}

